{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "printWidth": 120,
  "arrowParens": "always",
  "endOfLine": "lf",
  "quoteProps": "as-needed",
  "useTabs": false
}
