body {
    margin:0;
    height: 100%;
    overflow: hidden;
}
.header {
    font-size: 16px;
}
.title {
    font-size: 36px;
    font-weight: bold;
}
.kpi-text {
    text-decoration: underline;
    color: #ffd972;
}
.ratio-text {
    text-decoration: underline;
    color: #ffd972;
}
.ratio-int {
    color: #ffd972;
    font-size:larger;
}
#deaths{
    color: red;
}
.btn {
    border: 2px solid;
    border-radius: 10px;
    color: #fff;
    background-color: #b89f2a;
    font-weight: bold;
    font-size: medium;
}
.btn:hover {
    background-color: #ffd972;
    color: grey;
}
.btn:active {
    background-color: #b89f2a;
    color: #ffd972;
}
.deadBtn {
    color: red;
    border: 3px solid;
    border-radius: 10px;
    background-color: #360a0a;
    font-weight: bold;
    font-size: medium;
}
.deadBtn:hover{
    background-color: red;
    color: #360a0a;
}
.deadBtn:active{
    background-color: #360a0a;
    color: red;
}
.resetBtn{
    color: #ffd972;
    border: 3px solid;
    border-radius: 10px;
    background-color: grey;
    font-weight: bold;
    font-size: medium;
}
.resetBtn:hover{
    color: grey;
    background-color: #ffd972;
}
.resetBtn:active{
    color: #ffd972;
    background-color: grey;
}
.grid-body-container {
    display: grid;
    grid-template-columns: minmax(auto, 300px) minmax(auto, 300px) minmax(auto, 240px);
    grid-gap: 5px;
    justify-content: center;
    align-content: center;
    height: 100vh;
}
.grid-button-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}

.grid-header-container {
    display: grid;
    grid-column-start: 1;
    grid-column-end: -1;
    justify-items: center;
    border-radius: 10px;
}
.flex-kpi-values {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content: space-around;
}
.flex-kpi-items {
    flex-grow: 1;
    align-self: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.flex-ratio-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    border-radius: 10px;
}
.flex-ratio-items {
    flex-grow: 1;
    align-self: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.flex-mightfp{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    grid-column-start: 1;
    grid-column-end: -1;
    border: 5px;
}
.albion-slate {
    background-color: #504A4A;
}
.albion-darkestred {
    background-color: #360a0a;
}
.albion-darkred {
    background-color: #802B1C;
}
.albion-salmon {
    background-color: #C2604E;
}
.albion-red {
    background-color: #BE412B;
}
.albion-gold {
    background-color: #b89f2a;
}
.albion-bright-text {
    background-color: #ffd972;
}
.albion-orange-text {
    color: #f29921
}
html{
    color: #ffd972;
    font-size: large;
}
input {
    text-align: center;
    font-size: 18px;
    color: white;
    background-color: #C2604E;
}
a {
    color: #b89f2a;
}
a:hover{
    color:#ffd972;
}
@media screen and (max-width: 675px) { /*Optimized for iPhone SE*/
    html{
        font-size: small;
    }
    input{
        font-size: small;
    }
    .btn {
        font-size: small;
    }
    .deadBtn {
        font-size: small;
    }
    .resetBtn{
        font-size: small;
    }
    .header {
        font-size: small;
    }
    .title {
        font-size: 18px;
    }
    .grid-button-container {
        grid-template-columns: repeat(2, minmax(auto, 90px));
    }
    .grid-body-container {
        grid-template-columns: minmax(100px, 120px) minmax(120px, 140px) minmax(100px, 120px);
    }
    .flex-kpi-items{
        flex-shrink: 1;
        font-size: smaller;
    }

}
@media (orientation: landscape) {
    html{
        font-size: small;
    }
    input{
        font-size: small;
    }
    .btn {
        font-size: small;
    }
    .deadBtn {
        font-size: small;
    }
    .resetBtn{
        font-size: small;
    }
    .grid-header-container{
        display: none;
    }
    .grid-body-container {
        grid-template-columns: minmax(auto, 160px) minmax(auto, 150px) minmax(auto, 100px);
        grid-template-rows: 30px 85%;
    }
    .flex-kpi-items{
        padding: 2px 0px 2px 0px;
    }
}