input[type="number"] {
-webkit-appearance: textfield;
    -moz-appearance: textfield;
        appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
-webkit-appearance: none;
}
.albion-slate {
    background-color: #504A4A!important;
}
.albion-darkestred {
    background-color: #360a0a!important;
}
.albion-darkred {
    background-color: #802B1C!important;
}
.albion-salmon {
    background-color: #C2604E!important;
}
.albion-red {
    background-color: #BE412B!important;
}
.albion-gold {
    background-color: #b89f2a!important;
}
.albion-bright-text {
    background-color: #ffd972!important;
}
.albion-orange-text {
    color: #f29921
}