
.kpi-text {
    text-decoration: underline;
    color: #ffd972;
}
.ratio-text {
    text-decoration: underline;
    color: #ffd972;
}
.ratio-int {
    color: #ffd972;
    font-size:larger;
}
#deaths{
    color: red;
}
.btn {
    border: 2px solid;
    border-radius: 10px;
    color: #fff;
    background-color: #b89f2a;
    font-weight: bold;
    font-size: medium;
}
.btn:hover {
    background-color: #ffd972;
    color: grey;
}
.btn:active {
    background-color: #b89f2a;
    color: #ffd972;
}
.deadBtn {
    color: red;
    border: 3px solid;
    border-radius: 10px;
    background-color: #360a0a;
    font-weight: bold;
    font-size: medium;
}
.deadBtn:hover{
    background-color: red;
    color: #360a0a;
}
.deadBtn:active{
    background-color: #360a0a;
    color: red;
}
.resetBtn{
    color: #ffd972;
    border: 3px solid;
    border-radius: 10px;
    background-color: grey;
    font-weight: bold;
    font-size: medium;
}
.resetBtn:hover{
    color: grey;
    background-color: #ffd972;
}
.resetBtn:active{
    color: #ffd972;
    background-color: grey;
}
.grid-body-container {
    display: grid;
    grid-template-columns: minmax(auto, 300px) minmax(auto, 300px) minmax(auto, 240px);
    grid-gap: 5px;
    justify-content: center;
    align-content: center;
    height: 100vh;
}
.grid-button-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}

.grid-header-container {
    display: grid;
    grid-column-start: 1;
    grid-column-end: -1;
    justify-items: center;
    border-radius: 10px;
}
.grid-kpi-values {
    display: grid;
    grid-auto-rows: 30px;
    justify-items: center;
    border-radius: 10px;
}
.grid-ratio-container {
    display: grid;
    justify-items: center;
    border-radius: 10px;
}
.flex-mightfp{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    grid-column-start: 1;
    grid-column-end: -1;
    border: 5px;
}
.albion-slate {
    background-color: #504A4A;
}
.albion-darkestred {
    background-color: #360a0a;
}
.albion-darkred {
    background-color: #802B1C;
}
.albion-salmon {
    background-color: #C2604E;
}
.albion-red {
    background-color: #BE412B;
}
.albion-gold {
    background-color: #b89f2a;
}
.albion-bright-text {
    background-color: #ffd972;
}
.albion-orange-text {
    color: #f29921
}
html{
    color: #ffd972;
    font-size: large;
}
input {
    text-align: center;
    font-size: 18px;
    color: white;
    background-color: #C2604E;
}
a {
    color: #b89f2a;
}
a:hover{
    color:#ffd972;
}
@media screen and (max-width: 600px) {
    html{
        font-size: small;
    }
    input{
        font-size: small;
    }
    .btn {
        font-size: small;
    }
    .deadBtn {
        font-size: small;
    }
    .resetBtn{
        font-size: small;
    }
    .grid-button-container {
        grid-template-columns: repeat(2, minmax(auto, 90px));
    }

}