html{
    background-color: rgb(80, 74, 74);
}

body {
    margin-left: 20%;
    margin-right: auto;
    width: 40em;
}
header {
    background-color: rgb(190, 65, 43);
}
a {
    color: #b89f2a;
}

.inner {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
}
.container {
    background-color: rgb(194, 96, 78);
    display: grid;
    grid-template-columns: 225px 75px;
    grid-template-rows: 75px 75px 75px;
    justify-items: center;
    align-items: center;
    padding: 10px;
}
.kpi-text {
    text-decoration: underline;
    font-size: 20px;
}

.kpi-int {
    font-size: 30px;
}

.ratio-text {
    text-decoration: underline;
}
.ratio-int {
    font-size: 30px;
}

.btns {
    background-color: rgb(128, 43, 28);
    display: grid;
    grid-template-columns: 100px 100px 100px;
    padding: 10px;
}

.ratio-container {
    background-color: rgb(194, 96, 78);
    display: grid;
    grid-template-columns: 250px;
    align-items: center;
    justify-items: center;
}
.button {
    background-color: #b89f2a; /* Albion Gold */
    border: none;
    color: white;
    /* padding: 15px 32px;
     text-align: center; */
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
.dead-btn {
    color:red;
    background-color: #360a0a;
    align-content: center;
    justify-content: center;
    
}
.reset-btn {
    background-color: grey;
}